spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: erick.founders@gmail.com
    password: wgzpczwwngodvusg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true